<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8"/>
		<meta name="description" content="RPiMS - Raspberry Pi Monitoring System">
		<meta name="keywords" content="Raspberry Pi, Monitoring System, Sensors">
		<meta name="author" content="Dariusz Kowalczyk">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/w3.css">
		<link rel="stylesheet" href="/static/css/w3-colors-2020.css">
		<script src="/static/js/navbar.js?v=002"></script>
		<title>RPiMS API</title>
	</head>
	<body>
		<div class="w3-row w3-2020-ultramarine-green">
			<div class="w3-dropdown-click">
				<button onclick="toggleShowHide('NavBar')" class="w3-button w3-2020-ultramarine-green w3-xlarge">☰ API</button>
				<div id="NavBar" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
					<a href="/" class="w3-bar-item w3-button w3-large">Home</a>
					<a href="/setup/" class="w3-bar-item w3-button w3-large">Setup</a>
				</div>
			</div>
		</div>
		<div class="w3-2020-brilliant-white">
			<div class="w3-container">
			<p>To download current data in JSON format, use the following address:</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/all">http://{{ request.host.split(':')[0] }}/api/data/all</a></p>
			</div>
			<div class="w3-container">
			    <p>To order to obtain data only for a selected sensor or only from sensors, 
					the address should be filled in with a parameter, e.g .:</p>
			</div>
			<div class="w3-container w3-light-grey w3-round">
				<p>All sensors</p>
				<p><a href="/api/data/sensors/all">http://{{ request.host.split(':')[0] }}/api/data/sensors/all</a></p>
			</div>
			<div class="w3-container">
				<p>CPU sensor</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/cpu">http://{{ request.host.split(':')[0] }}/api/data/sensors/cpu</a></p>
			</div>
			<div class="w3-container">
				<p>BME280 sensors</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/bme280">http://{{ request.host.split(':')[0] }}/api/data/sensors/bme280</a></p>
			</div>
			<div class="w3-container">
				<p>DS18B20 sensor</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/ds18b20">http://{{ request.host.split(':')[0] }}/api/data/sensors/ds18b20</a></p>
			</div>
			<div class="w3-container">
				<p>Door sensors</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/door">http://{{ request.host.split(':')[0] }}/api/data/sensors/door</a></p>
			</div>
			<div class="w3-container">
				<p>Motion sensors</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/motion">http://{{ request.host.split(':')[0] }}/api/data/sensors/motion</a></p>
			</div>
			<div class="w3-container">
				<p>Weather Station</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/sensors/weather-station">http://{{ request.host.split(':')[0] }}/api/data/sensors/weather-station</a></p>
			</div>
			<div class="w3-container">
				<p>System</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/system">http://{{ request.host.split(':')[0] }}/api/data/system</a></p>
			</div>
			<div class="w3-container">
				<p>Config</p>
			</div>
			<div class="w3-container w3-light-grey">
				<p><a href="/api/data/config">http://{{ request.host.split(':')[0] }}/api/data/config</a></p>
			</div>
			<br>
		</div>
	</body>
</html>
