<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="RPiMS - Raspberry Pi Monitoring System">
    <meta name="keywords" content="Raspberry Pi, Monitoring System, Sensors">
    <meta name="author" content="Dariusz Kowalczyk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/w3-colors-2020.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static//js/navbar.js"></script>
    <script src="/static/js/index.js" defer></script>
    <title>RPiMS</title>
  </head>
  <body>

    <div class="w3-row w3-2020-ultramarine-green">
      <div class="w3-dropdown-click">
        <button onclick="navFunction()" class="w3-button w3-2020-ultramarine-green w3-xlarge">☰</button>
        <div id="NavBar" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
          <a href="/setup/" class="w3-bar-item w3-button w3-large">Setup</a>
          <a href="/api/" class="w3-bar-item w3-button w3-large">API</a>
        </div>
      </div>
    </div>

{% block page_content %}
   <div class="rpimsbg">
{% if data.config.setup.show_sys_info: %}
     <!-- <div class="header"></div>-->
        <div class="sensors" style="text-align: left;" id="sys_info">
              <ul style="list-style-type:none;">
                <li>Hostname: <span class="value" id="hostname"></span></li>
                <li>Location: <span class="value" id="location"></span></li>
                <li style="display:none;" id="CPU_Temperature">CPU Temperature: <span class="value" id="CPU_Temperature_value"> </span><span class="value" id="CPU_Temperature_unit"></span></li>
              </ul>
        </div>
{% endif %}
{% if data.config.setup.use_picamera: %}
  <div class="sensors">
  <div><a class="sensors" href="http://{{request.host.split(':')[0]}}:8080/stream/video.mjpeg">Video Stream URL</a></div>
  <div><iframe src="http://{{request.host.split(':')[0]}}:8080/stream/video.mjpeg" width="{{data.config.sensors.PICAMERA.mode.hr}}" height="{{data.config.sensors.PICAMERA.mode.vr}}" style="border:none;" title="Video Stream"></iframe></div>
  </div>
{% endif %}
{% if data.config.setup.use_door_sensor: %}
      <div class="sensors" id="door_sensors">
        <div class="w3-container w3-margin">Door sensors</div>
          {% for item in data.sensors.door_sensors: %}
            <p>{{ data.config.gpio[item].name }} <span class="value" id = {{ item }} ></span></p> 
          {% endfor %}
        </p>
      </div>
{% endif %}
{% if data.config.setup.use_motion_sensor: %}
      <div class="sensors" id="motion_sensors">
        <div class="w3-container w3-margin">Motion sensors</div>
          {% for item in data.sensors.motion_sensors: %}
            <p>{{ data.config.gpio[item].name }} <span class="value" id = {{ item }} ></span></p> 
          {% endfor %}
        </p>
      </div>
{% endif %}
{% if data.config.setup.use_dht_sensor: %}
      <div class="sensors" id="dht_sensor">
        <div class="w3-container w3-margin">DHT Sensor</div>
        <div style="width: 100%; display: table;">
          <div style="display: table-row">
            <div class="gauge_dht" id="g11" style="width: 50%; display: table-cell";>
              <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
              </div>
              <div class="sensors">Temp</div>
            </div>
            <div class="gauge" id="g12" style="width: 50%; display: table-cell";>
              <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
              </div>
              <div class="sensors">Hum</div>
            </div>
          </div>
        </div>
      </div>
{% endif %}
{% if data.config.setup.use_bme280_sensor: %}
       <div id="bme280_sensors">
{% for item in data.sensors.bme280: %}
        <div class='sensors'>
          <div id='{{item}}' class='w3-container w3-margin'>{{ data.config.sensors.BME280[item].name }}</div>
          <div style='width: 100%; display: table;'>
            <div style='display: table-row';>

              <div class='gauge_bme280' id='{{item}}_BME280_Temperature'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Temp</div>
              </div>

              <div class='gauge_bme280' id='{{item}}_BME280_Humidity'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Hum</div>
              </div>

              <div class='gauge_bme280' id='{{item}}_BME280_Pressure'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Pres</div>
              </div>

            </div>
          </div>
        </div>
{% endfor %}
       </div>
{% endif %}
{% if data.config.setup.use_ds18b20_sensor: %}
{% for item in data.sensors.one_wire.ds18b20: %}
      <div class='sensors'>
        <div class='w3-container w3-margin'>{{ data.config.sensors.ONE_WIRE.DS18B20.addresses[item].name if data.config.sensors.ONE_WIRE.DS18B20.addresses[item].name is not none else item }}</div>
          <div style='width: 100%; display: table;'>
            <div style='display: table-row'>
              <div class='gauge_ds18b20' id='DS18B20_{{item}}'>
                <div class='gauge__body'>
                  <div class='gauge__fill'></div>
                  <div class='gauge__cover'></div>
                </div>
              </div>
            </div>
          </div>
      </div>
{% endfor %}
{% endif %}
{% if data.config.setup.use_weather_station: %}
  <div class="sensors">
    <div class="w3-container w3-margin">Wind</div>
    <div style="width: 100%; display: table;">
      <div style="display: table-row">
        <div class="gauge" id="g4" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Speed</div>
        </div>
        <div class="gauge" id="g5" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Gust</div>
        </div>
        <div class="gauge" id="g6" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Gust 24h</div>
        </div>
      </div>
    </div>
    <div class="w3-container">
      <table class="w3-table">
        <tr><td>Wind speed: </td><td><span class="value" id="wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Average Wind speed: </td><td><span class="value" id="average_wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Average Wind speed (Past 24h): </td><td><span class="value" id="daily_average_wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Wind gust: </td><td><span class="value" id="wind_gust"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Peak Wind Gust (Past 24h): </td><td><span class="value" id="daily_wind_gust"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Wind direction: </td><td><span class="value" id="average_wind_direction"></span><span class="value"> &#176 </span></td></tr>
        <tr><td>Rainfall (Past 24h): </td><td><span class="value" id="daily_rainfall"></span><span class="value"> mm</span></td></tr>
      </table>
    </div>
  </div>
{% endif %}
{% endblock %}
   </div>
  </body>
</html>
