<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="RPiMS - Raspberry Pi Monitoring System">
    <meta name="keywords" content="Raspberry Pi, Monitoring System, Sensors">
    <meta name="author" content="Dariusz Kowalczyk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css?v=002">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/w3-colors-2020.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/jquery.min.js?v=3.6.3"></script>
    <script defer src="/static/js/navbar.js?v=002"></script>
    <script defer src="/static/js/setup.js?v=019"></script>
    <title>RPiMS</title>
  </head>
  <body>
    <div class="w3-row rpims-navbar-color">
        <div class="w3-dropdown-click">
          <button onclick="toggleShowHide('NavBar')" class="w3-button rpims-navbar-color w3-xlarge">☰ Setup</button>
          <div id="NavBar" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
            <a href="/" class="w3-bar-item w3-button w3-large">Home</a>
            <a href="/api/" class="w3-bar-item w3-button w3-large">API</a>
          </div>
        </div>
      </div>
      <div class="w3-2020-brilliant-white" >
        <form action="" method="post">
            <fieldset>
                <legend>System configuration</legend>
                <div class="w3-row w3-2020-green-sheen">
                    <div class="w3-container">
                        <p><input id="verbose" name="verbose" type="checkbox" {{'checked="checked"' if config.setup.verbose else ""}} class="w3-check" value="true">
                        <label for="verbose">Verbose mode</label></p>
                        <p><input id="show_sys_info" name="show_sys_info" type="checkbox" {{'checked="checked"' if config.setup.show_sys_info else ""}} class="w3-check" value="true">
                        <label for="show_sys_info">Show system info</label></p>
                        <p><input id="use_door_sensor" name="use_door_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_door_sensor else ""}} class="w3-check" value="true">
                        <label for="use_door_sensor">Use door sensors</label></p>
                        <p><input id="use_motion_sensor" name="use_motion_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_motion_sensor else ""}} class="w3-check" value="true">
                        <label for= "use_motion_sensor">Use motion sensors</label></p>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Zabbix Agent configuration</legend>
                <div class="w3-row rpims-navbar-color">
                        <div class="w3-container  w3-margin-top w3-margin-bottom">
                            <input id="use_zabbix_sender" name="use_zabbix_sender" type="checkbox" {{'checked="checked"' if config.setup.use_zabbix_sender else ""}} class="w3-check" value="true">
                            <label for="use_zabbix_sender">Use zabbix sender</label>
                        </div>
                </div>
                <div id="zabbix_config">
                    <div class="w3-row w3-2020-green-sheen">
                        <p>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <label for="zabbix_server">Zabbix server:</label>
                            <input id="zabbix_server" name="zabbix_server" class="w3-input" type="text" placeholder="zabbix.home" value="{{ config.zabbix_agent.zabbix_server }}" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <label for="zabbix_server_active">Zabbix server Active:</label>
                            <input id="zabbix_server_active" name="zabbix_server_active" class="w3-input" type="text" value="{{ config.zabbix_agent.zabbix_server_active }}" placeholder="zabbix.home" pattern="^([a-zA-Z0-9]([a-zA-Z0-9\-]{0,61}[a-zA-Z0-9])?\.)+[a-zA-Z]{2,6}$">
                        </div>
                        <div class="w3-third w3-container w3-margin-bottom">
                            <label for="Timeout">Timeout:</label>
                            <input id="Timeout" name="Timeout" class="w3-input" type="number" min="1" max="10" value="{{ config.zabbix_agent.Timeout }}" >
                        </div>
                        </p>
                    </div>
                    <div class="w3-row w3-2020-green-sheen">
                        <div class="w3-half w3-container w3-margin-bottom">
                            <label for="location">RPiMS location:</label>
                            <input id="location" name="location" class="w3-input" type="text" value="{{ config.zabbix_agent.location }}" >
                        </div>
                        <div class="w3-half w3-container w3-margin-bottom">
                            <label for="hostname">RPiMS hostname:</label>
                            <input id="hostname" name="hostname" class="w3-input" type="text" value="{{ config.zabbix_agent.hostname }}" >
                        </div>
                    </div>
                    <div class="w3-row w3-2020-green-sheen">
                        <div class="w3-half w3-container w3-margin-bottom">
                            <label for="TLSPSKIdentity">PSK identity:</label>
                            <input id="TLSPSKIdentity" name="TLSPSKIdentity" class="w3-input" id="TLSPSKIdentity" type="text" value="{{ config.zabbix_agent.TLSPSKIdentity }}">
                            <input class="w3-input w3-2020-classic-blue" type="button" onclick="gfg_Run(16,tlspskidentityid)" value="Generate PSK Identity">
                        </div>
                        <div class="w3-half w3-container w3-margin-bottom">
                            <label for="TLSPSK">PSK:</label>
                            <input id="TLSPSK" name="TLSPSK" class="w3-input" id="TLSPSK" type="text" value="{{ config.zabbix_agent.TLSPSK }}" >
                            <input class="w3-input w3-2020-classic-blue" type="button" onclick="gfg_Run(64,tlspskid)" value="Generate PSK">
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Serial display configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_serial_display" name="use_serial_display" type="checkbox" {{'checked="checked"' if config.setup.use_serial_display else ""}} class="w3-check" id="use_serial_display" value="true">
                        <label for="use_serial_display">Use serial display</label>
                    </div>
                </div>
                <div id="serial_display" class="w3-row w3-2020-green-sheen">
                    <div class="w3-quarter w3-container w3-margin-top">
                        <label for="serial_type">Serial type:</label>
                        <select id="serial_type" name="serial_type" class="w3-select">
                            <option value="i2c" {% if config.setup.serial_type == "i2c" %} selected="selected" {% endif %}>i2c</option>
                            <option value="spi" {% if config.setup.serial_type == "spi" %} selected="selected" {% endif %}>spi</option>
                        </select>
                    </div>
                    <div class="w3-quarter w3-container w3-margin-top">
                        <label for="serial_display_type">Display type:</label>
                        <select id="serial_display_type" name="serial_display_type" class="w3-select">
                            <option value="oled_sh1106" {% if config.setup.serial_display_type == "oled_sh1106" %} selected="selected" {% endif %}>oled_sh1106</option>
                            <option value="lcd_st7735" {% if config.setup.serial_display_type == "lcd_st7735" %} selected="selected" {% endif %}>lcd_st7735</option>
                        </select>
                    </div>
                    <div class="w3-quarter w3-container w3-margin-top">
                        <label for="serial_display_rotate">Display rotate:</label>
                        <select id="serial_display_rotate" name="serial_display_rotate" class="w3-select">
                            <option value="0" {% if config.setup.serial_display_rotate == 0 %} selected="selected" {% endif %}>0</option>
                            <option value="2" {% if config.setup.serial_display_rotate == 2 %} selected="selected" {% endif %}>180</option>
                        </select>
                    </div>
                    <div class="w3-quarter w3-container w3-margin-top w3-margin-bottom">
                        <label for="serial_display_refresh_rate">Refresh rate:</label>
                        <input id="serial_display_refresh_rate" name="serial_display_refresh_rate" class="w3-input" type="number" min="1" max="50" value="{{ config.setup.serial_display_refresh_rate }}" >
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Pi Camera configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-half w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_picamera" name="use_picamera" type="checkbox" {{'checked="checked"' if config.setup.use_picamera else ""}} class="w3-check" id="use_picamera" value="true">
                        <label for="use_picamera">Use Picamera</label>
                    </div>
                    <div class="w3-half w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_picamera_recording" name="use_picamera_recording" type="checkbox"  {{'checked="checked"' if config.setup.use_picamera_recording else ""}} class="w3-check" value="true">
                        <label for="use_picamera_recording">Use picamera recording</label>

                    </div>
                </div>
                <div id="picamera" class="w3-row w3-2020-green-sheen">
                    <div class="w3-third w3-container w3-margin-top">
                        <label for="picamera_rotation">Rotation:</label>
                        <select id="picamera_rotation" name="picamera_rotation" class="w3-select">
                            <option value="0" {% if config.sensors.PICAMERA.rotation == 0 %} selected="selected" {% endif %}>0</option>
                            <option value="90" {% if config.sensors.PICAMERA.rotation == 90 %} selected="selected" {% endif %}>90</option>
                            <option value="180" {% if config.sensors.PICAMERA.rotation == 180 %} selected="selected" {% endif %}>180</option>
                            <option value="270" {% if config.sensors.PICAMERA.rotation == 270 %} selected="selected" {% endif %}>270</option>
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-margin-top">
                        <label for="picamera_mode">Mode:</label>
                        <select id="picamera_mode" name="picamera_mode" class="w3-select">
                            <option value="1" {% if config.sensors.PICAMERA.mode == 1 %} selected="selected" {% endif %}>1920x1080</option>
                            <option value="6" {% if config.sensors.PICAMERA.mode == 6 %} selected="selected" {% endif %}>1280x720</option>
                            <option value="7" {% if config.sensors.PICAMERA.mode == 7 %} selected="selected" {% endif %}>640x480</option>
                        </select>
                    </div>
                    <div class="w3-third w3-container w3-margin-top w3-margin-bottom">
                        <label for="picamera_fps">FPS:</label>
                        <input id="picamera_fps" name="picamera_fps" class="w3-input" type="number" min="1" max="60" value="30" >
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>CPU sensor configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_cpu_sensor" name="use_cpu_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_cpu_sensor else ""}} class="w3-check" id="use_cpu_sensor" value="true">
                        <label for="use_cpu_sensor">Use CPU Sensor</label>
                    </div>
                </div>
                <div id="CPU_sensor" class="w3-row w3-2020-green-sheen">
                    <div class="w3-quarter w3-container w3-margin-top w3-margin-bottom">
                        <label for="CPUtemp_read_interval">CPUtemp read interval:</label>
                        <input name="CPUtemp_read_interval" class="w3-input" id="CPUtemp_read_interval" type="number" min="1" max="3600" value="{{ config.sensors.CPU.temp.read_interval }}" >
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>DS18B20 sensor configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_ds18b20_sensor" name="use_ds18b20_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_ds18b20_sensor else ""}} class="w3-check" id="use_ds18b20_sensor" value="true">
                        <label for="use_ds18b20_sensor">Use DS18B20 sensor</label>
                    </div>
                </div>
                <div id="DS18B20_sensor" class="w3-row w3-2020-green-sheen">
                    <div class="w3-quarter w3-container w3-margin-top w3-margin-bottom">
                        <label for="DS18B20_read_interval">Read interval:</label>
                        <input name="DS18B20_read_interval" class="w3-input" id="DS18B20_read_interval" type="number" min="1" max="3600" value="{{ config.sensors.ONE_WIRE.DS18B20.read_interval }}" >
                    </div>
                    {% if config.setup.use_ds18b20_sensor: %}
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                    <button type="button" onClick="window.location.href=window.location.href" >Discover sensors</button> <br>
                    <p></p><b>Discovered sensors:</b></p> 
                    </div>   
                    {% for item in _DS18B20 %}
                    <div class='w3-row w3-margin-top w3-margin-bottom' id='{{ item }}'>
                      <div class='w3-quarter w3-container w3-margin-bottom'>
                        <label for='{{ item }}'>Address:</label>
                        <input id='{{ item }}' name='DS18B20_address' class='w3-input' type='text' value='{{ item }}' readonly>
                      </div>
                      <div class='w3-threequarter w3-container w3-margin-bottom'>
                        <label for='{{ item }}_name'> name:</label>
                        <input id='{{ item }}_name' name='DS18B20_{{ item }}_name' class='w3-input' type='text' value='{{ config.sensors.ONE_WIRE.DS18B20.addresses.get(item).name if config.sensors.ONE_WIRE.DS18B20.addresses.get(item).name else item }}'>
                      </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </fieldset>
            <fieldset>
                <legend>BME280 sensor configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_bme280_sensor" name="use_bme280_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_bme280_sensor else ""}} class="w3-check" id="use_bme280_sensor" value="true">
                        <label for="use_bme280_sensor">Use BME280 sensor</label>
                    </div>
                </div>
                <div id="BME280_sensor" class="w3-row">
                    <div class="w3-row rpims-navbar-color w3-margin-top">
                        <div class="w3-container w3-margin-top w3-margin-bottom">
                            <input name="id1_BME280_use" type="checkbox" class="w3-check" {{'checked="checked"' if config.sensors.BME280.id1.use else ""}} id="id1_BME280_use" value="true">
                            <label for="id1_BME280_use">Use #1 BME280:</label>
                        </div>
                    </div>
                    <div id="id1_BME280" class="w3-row w3-2020-green-sheen">
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id1_BME280_name">name:</label>
                                <input id="id1_BME280_name" name="id1_BME280_name" class="w3-input" type="text" value="{{ config.sensors.BME280.id1.name }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id1_BME280_read_interval">Read interval:</label>
                                <input name="id1_BME280_read_interval" class="w3-input" id="id1_BME280_read_interval" type="number" min="2" max="3600" value="{{ config.sensors.BME280.id1.read_interval }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id1_BME280_interface">Interface type:</label>
                                <select name="id1_BME280_interface" class="w3-select" id="id1_BME280_interface">
                                    <option value = "i2c" >i2c</option>
                                </select>
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label id="id1_BME280_i2c_address">I2C Address:
                                    <select name="id1_BME280_i2c_address" class="w3-select" >
                                        <option value = "118" {% if config.sensors.BME280.id1.i2c_address == 118 %} selected="selected" {% endif %}>0x76</option>
                                        <option value = "119" {% if config.sensors.BME280.id1.i2c_address == 119 %} selected="selected" {% endif %}>0x77</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="w3-row rpims-navbar-color w3-margin-top">
                        <div class="w3-container w3-margin-top w3-margin-bottom">
                            <input name="id2_BME280_use" type="checkbox" {{'checked="checked"' if config.sensors.BME280.id2.use else ""}} class="w3-check" id="id2_BME280_use" value="true">
                            <label for="id2_BME280_use">Use #2 BME280:</label>
                        </div>
                    </div>
                    <div id="id2_BME280" class="w3-row w3-2020-green-sheen">
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id2_BME280_name">name:</label>
                                <input id="id2_BME280_name" name="id2_BME280_name" class="w3-input" type="text" value="{{ config.sensors.BME280.id2.name }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id2_BME280_read_interval">Read interval:</label>
                                <input name="id2_BME280_read_interval" class="w3-input" id="id2_BME280_read_interval" type="number" min="2" max="3600" value="{{ config.sensors.BME280.id2.read_interval }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id2_BME280_interface">Interface type:</label>
                                <select name="id2_BME280_interface" class="w3-select" id="id2_BME280_interface">
                                    <option value = "serial" >serial</option>
                                </select>
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label id="id2_BME280_serial_port">Serial port:
                                    <select name="id2_BME280_serial_port" class="w3-select serial-port" id="id2_BME280_serial_port_select" >
                                        <option value = "USB1" {% if config.sensors.BME280.id2.serial_port == "USB1" %} selected="selected" {% endif %}>USB1</option>
                                        <option value = "USB2" {% if config.sensors.BME280.id2.serial_port == "USB2" %} selected="selected" {% endif %}>USB2</option>
                                        <option value = "USB3" {% if config.sensors.BME280.id2.serial_port == "USB3" %} selected="selected" {% endif %}>USB3</option>
                                        <option value = "USB4" {% if config.sensors.BME280.id2.serial_port == "USB4" %} selected="selected" {% endif %}>USB4</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="w3-row rpims-navbar-color w3-margin-top">
                        <div class="w3-container w3-margin-top w3-margin-bottom">
                            <input name="id3_BME280_use" type="checkbox" {{'checked="checked"' if config.sensors.BME280.id3.use else ""}} class="w3-check" id="id3_BME280_use" value="true">
                            <label for="id3_BME280_use">Use #3 BME280:</label>
                        </div>
                    </div>
                    <div id="id3_BME280" class="w3-row w3-2020-green-sheen">
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id3_BME280_name">name:</label>
                                <input id="id3_BME280_name" name="id3_BME280_name" class="w3-input" type="text" value="{{ config.sensors.BME280.id3.name }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id3_BME280_read_interval">Read interval:</label>
                                <input name="id3_BME280_read_interval" class="w3-input" id="id3_BME280_read_interval" type="number" min="2" max="3600" value="{{ config.sensors.BME280.id3.read_interval }}" >
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label for="id3_BME280_interface">Interface type:</label>
                                <select name="id3_BME280_interface" class="w3-select" id="id3_BME280_interface">
                                    <option value = "serial" >serial</option>
                                </select>
                            </div>
                            <div class="w3-quarter w3-container w3-margin-top">
                                <label id="id3_BME280_serial_port">Serial port:
                                    <select name="id3_BME280_serial_port" class="w3-select serial-port" id="id3_BME280_serial_port_select">
                                        <option value = "USB1" {% if config.sensors.BME280.id3.serial_port == "USB1" %} selected="selected" {% endif %}>USB1</option>
                                        <option value = "USB2" {% if config.sensors.BME280.id3.serial_port == "USB2" %} selected="selected" {% endif %}>USB2</option>
                                        <option value = "USB3" {% if config.sensors.BME280.id3.serial_port == "USB3" %} selected="selected" {% endif %}>USB3</option>
                                        <option value = "USB4" {% if config.sensors.BME280.id3.serial_port == "USB4" %} selected="selected" {% endif %}>USB4</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>DHT sensor configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input id="use_dht_sensor" name="use_dht_sensor" type="checkbox" {{'checked="checked"' if config.setup.use_dht_sensor else ""}} class="w3-check" id="use_dht_sensor" value="true">
                        <label for="use_dht_sensor">Use DHT sensor</label>
                    </div>
                </div>
                <div id="DHT_sensor" class="w3-row w3-2020-green-sheen">
                    <div class="w3-row w3-margin-bottom">
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="DHT_type">Type:</label>
                            <select name="DHT_type" class="w3-select" id="DHT_type">
                                <option value="DHT11" >DHT11</option>
                                <option value="DHT22" >DHT22</option>
                                <option value="AM2302" >AM2302</option>
                            </select>
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="DHT_name">name:</label>
                            <input id="DHT_name" name="DHT_name" class="w3-input" type="text" value="{{ config.sensors.DHT.name }}" >
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="DHT_read_interval">Read interval:</label>
                            <input name="DHT_read_interval" class="w3-input" id="DHT_read_interval" type="number" min="2" max="3600" value="{{ config.sensors.DHT.read_interval }}" >
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="DHT_pin">Pin:</label>
                            <select name="DHT_pin" class="w3-select" id="DHT_pin">
                                <option value = "{{ config.sensors.DHT.pin }}">17</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>Weather sensor configuration</legend>
                <div class="w3-row rpims-navbar-color">
                    <div class="w3-container w3-margin-top w3-margin-bottom">
                        <input name="use_weather_station" type="checkbox" {{'checked="checked"' if config.setup.use_weather_station else ""}} class="w3-check" id="use_weather_station" value="true">
                        <label for="use_weather_station">Use weather station</label>
                    </div>
                </div>
                <div id="weather_station" class="w3-row">
                    <div class="w3-row w3-2020-green-sheen w3-margin-top">
                        <div class="w3-row rpims-navbar-color">
                            <div class="w3-container w3-margin-top w3-margin-bottom">
                            <input id="rainfall_use" name="rainfall_use" type="checkbox" {{'checked="checked"' if config.sensors.WEATHER.RAINFALL.use else ""}} class="w3-check" value="true">
                            <label for="rainfall_use">Use Rainfall:</label>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="rainfall_acquisition_time">Aquisition time:</label>
                                <input name="rainfall_acquisition_time" class="w3-input" id="rainfall_acquisition_time" type="number" min="1" max="3600" value="{{ config.sensors.WEATHER.RAINFALL.acquisition_time }}" >
                            </div>
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="rainfall_agregation_time">Agregation time:</label>
                                <input name="rainfall_agregation_time" class="w3-input" id="rainfall_agregation_time" type="number" min="1" max="86400" value="{{ config.sensors.WEATHER.RAINFALL.agregation_time }}" >
                            </div>
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="rainfall_sensor_pin">Sensor pin:</label>
                                <select name="rainfall_sensor_pin" class="w3-select" id="rainfall_sensor_pin">
                                    <option value = "{{ config.sensors.WEATHER.RAINFALL.sensor_pin }}">22</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row w3-2020-green-sheen w3-margin-top">
                        <div class="w3-row rpims-navbar-color">
                            <div class="w3-container w3-margin-top w3-margin-bottom">
                                <input id="windspeed_use" name="windspeed_use" type="checkbox" {{'checked="checked"' if config.sensors.WEATHER.WIND.SPEED.use else ""}} class="w3-check" value="true">
                                <label for="windspeed_use">Use Wind speed:</label>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="windspeed_acquisition_time">Acquisition time:</label>
                                <input name="windspeed_acquisition_time" class="w3-input" id="windspeed_acquisition_time" type="number" min="1" max="3600" value="{{ config.sensors.WEATHER.WIND.SPEED.acquisition_time }}">
                            </div>
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="windspeed_agregation_time">Agregation time:</label>
                                <input name="windspeed_agregation_time" class="w3-input" id="windspeed_agregation_time" type="number" min="1" max="3600" value="{{ config.sensors.WEATHER.WIND.SPEED.agregation_time }}" >
                            </div>
                            <div class="w3-third w3-container w3-margin-top">
                                <label for="windspeed_sensor_pin">Sensor pin:</label>
                                <select name="windspeed_sensor_pin" class="w3-select" id="windspeed_sensor_pin">
                                    <option value = "{{ config.sensors.WEATHER.WIND.SPEED.sensor_pin }}">23</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="w3-row w3-2020-green-sheen w3-margin-top">
                        <div class="w3-row rpims-navbar-color">
                            <div class="w3-container w3-margin-top w3-margin-bottom">
                                <input id="winddirection_use" name="winddirection_use" type="checkbox" {{'checked="checked"' if config.sensors.WEATHER.WIND.DIRECTION.use else ""}} class="w3-check" value="true">
                                <label for="winddirection_use">Use Wind direction:</label>
                            </div>
                        </div>
                        <div class="w3-row w3-margin-bottom">
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="winddirection_acquisition_time">Acquisition time:</label>
                            <input name="winddirection_acquisition_time" class="w3-input" id="winddirection_acquisition_time" type="number" min="1" max="3600" value="{{ config.sensors.WEATHER.WIND.DIRECTION.acquisition_time }}" >
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="winddirection_adc_type">ADC type:</label>
                            <select name="winddirection_adc_type" class="w3-select" id="winddirection_adc_type">
                                <option value="AutomationPhat" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_type == "AutomationPhat" %} selected="selected" {% endif %}>AutomationPhat</option>
                                <option value="STM32F030" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_type == "STM32F030" %} selected="selected" {% endif %}>STM32F030</option>
                                <option value="ADS1115" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_type == "ADS1115" %} selected="selected" {% endif %}>ADS1115</option>
                            </select>
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="winddirection_adc_input">Sensor input:</label>
                            <select name="winddirection_adc_input" class="w3-select" id="winddirection_adc_input">
                                <option value="1" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_input == 1 %} selected="selected" {% endif %}>1</option>
                                <option value="2" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_input == 2 %} selected="selected" {% endif %}>2</option>
                                <option value="3" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_input == 3 %} selected="selected" {% endif %}>3</option>
                                <option value="4" {% if config.sensors.WEATHER.WIND.DIRECTION.adc_input == 4 %} selected="selected" {% endif %}>4</option>
                            </select>
                        </div>
                        <div class="w3-quarter w3-container w3-margin-top">
                            <label for="reference_voltage_adc_input">Reference input:</label>
                            <select name="reference_voltage_adc_input" class="w3-select" id="reference_voltage_adc_input">
                                <option value="1" {% if config.sensors.WEATHER.WIND.DIRECTION.reference_voltage_adc_input == 1 %} selected="selected" {% endif %}>1</option>
                                <option value="2" {% if config.sensors.WEATHER.WIND.DIRECTION.reference_voltage_adc_input == 2 %} selected="selected" {% endif %}>2</option>
                                <option value="3" {% if config.sensors.WEATHER.WIND.DIRECTION.reference_voltage_adc_input == 3 %} selected="selected" {% endif %}>3</option>
                                <option value="4" {% if config.sensors.WEATHER.WIND.DIRECTION.reference_voltage_adc_input == 4 %} selected="selected" {% endif %}>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend>GPIO configuration</legend>
                <h2 class="rpims-navbar-color"><input onclick="toggleShowHide('gpio')" type="button" value="GPIO" class="w3-btn w3-block w3-left-align"></h2>
                <div id="gpio" class="w3-row w3-hide">
                    <br>
                    {% for _gpio in config.gpio: %}
                    <div class='w3-row rpims-navbar-color'>
                        <div class='w3-container w3-margin-top w3-margin-bottom'>
                        <label>GPIO {{ _gpio }}<input name='{{ _gpio }}_pin' type='hidden' value='{{ config.gpio[_gpio].pin }}'></label>
                        </div>
                    </div>

                    <div class='w3-row w3-margin-bottom w3-2020-green-sheen'>
                        <div class='w3-row w3-margin-bottom'>
                            <div class='w3-third w3-container w3-margin-top'>
                                <label for='{{ _gpio }}_TYPE'>Type:</label>
                                <select name='{{ _gpio }}_type' class='gpioinputs w3-select' id='{{ _gpio }}_TYPE'>
                                    <option {% if config.gpio[_gpio].type == 'DoorSensor' %} selected="selected" {% endif %} value='DoorSensor'>INPUT - Door Sensor</option>
                                    <option {% if config.gpio[_gpio].type == 'MotionSensor' %} selected="selected" {% endif %} value='MotionSensor'>INPUT - Motion Sensor</option>
                                    <option {% if config.gpio[_gpio].type == 'ShutdownButton' %} selected="selected" {% endif %} value='ShutdownButton'>INPUT - Shutdown Button</option>
                                    <option {% if config.gpio[_gpio].type == 'led' %} selected="selected" {% endif %} value='led'>OUT - LED</option>
                                    <option {% if config.gpio[_gpio].type == 'door_led' %} selected="selected" {% endif %} value='door_led'>OUT - Door Indicator</option>
                                    <option {% if config.gpio[_gpio].type == 'motion_led' %} selected="selected" {% endif %} value='motion_led'>OUT - Motion Indicator</option>
                                    <option {% if config.gpio[_gpio].type == 'Reserved' %} selected="selected" {% endif %} value='Reserved'>Reserved</option>
                                </select>
                            </div>
                            <div class='w3-third w3-container w3-margin-top'>
                            <label>Name:<input name='{{ _gpio }}_name' class='w3-input'  type='text' value='{{ config.gpio[_gpio].name }}'></label>
                            </div>
                            <div class='w3-third w3-container w3-margin-top'>
                            <label id='{{ _gpio}}_TYPE_DS'>Hold time:<input id='{{_gpio}}_TYPE_DS_HT' name='{{ _gpio }}_hold_time' class='w3-input' type='number' min='1' max='60' value='{{ config.gpio[_gpio].hold_time }}'></label>
                            </div>
                        </div>
                    </div>
                    {% endfor%}
                </div>
            </fieldset>
            <fieldset>
                <div class="w3-row w3-2020-green-sheen">
                    <div class="w3 w3-container w3-margin-top w3-margin-bottom">
                        <button name="save" type="submit"  value="Save" class="w3-bar w3-2020-samba w3-xlarge">Save</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
  </body>
