<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="RPiMS - Raspberry Pi Monitoring System">
    <meta name="keywords" content="Raspberry Pi, Monitoring System, Sensors">
    <meta name="author" content="Dariusz Kowalczyk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static//css/index.css">
    <link rel="stylesheet" href="/static/css/w3.css">
    <link rel="stylesheet" href="/static/css/w3-colors-2020.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static//js/navbar.js"></script>
    <script src="/static/js/index.js" defer></script>
    <title>RPiMS</title>
  </head>
  <body>
    <div class="w3-row w3-2020-ultramarine-green">
        <div class="w3-dropdown-click">
          <button onclick="navFunction()" class="w3-button w3-2020-ultramarine-green w3-xlarge">☰ Setup</button>
          <div id="NavBar" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
            <a href="/" class="w3-bar-item w3-button w3-large">Home</a>
            <a href="/api/" class="w3-bar-item w3-button w3-large">API</a>
          </div>
        </div>
      </div>
  </body>
