---
- name: Set Redis sysctl parameters
  sysctl:
    name: "{{ item.key }}"
    value: "{{ item.value }}"
    state: present
    reload: yes
  loop: "{{ redis_sysctl | dict2items }}"

- name: Set maxmemory for Redis
  lineinfile:
    path: "{{ redis_config_file }}"
    regexp: "^maxmemory "
    line: "maxmemory {{ redis_maxmemory }}"
    insertafter: EOF

- name: Enabling redis-server service
  systemd:
    name: redis-server
    enabled: yes

- name: Restarting redis-server
  systemd:
    name: redis-server
    state: restarted
