[Unit]
Description=RPiMS Service
After=network.target
Conflicts=getty@tty1.service
Documentation=https://github.com/darton/RPiMS

[Service]
User={{ rpims_user }}
Group={{ rpims_user }}
ExecStart={{ rpims_user_homedir }}/.venv/bin/python {{ rpims_install_dir }}/daemon/rpims.py
Environment="RPIMS_DIR={{ rpims_install_dir }}"
WorkingDirectory={{ rpims_install_dir }}/daemon
RuntimeDirectory={{ rpims_user }}
RuntimeDirectoryMode=0755
StandardInput=tty-force
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1


[Install]
WantedBy=multi-user.target
