[Unit]
Description=RPiMS Service
After=network.target
Conflicts=getty@tty1.service
Documentation=https://github.com/darton/RPiMS

[Service]
Type=simple
User={{ rpims_user }}
Group={{ rpims_user }}
ExecStart=/usr/bin/python3 /opt/{{ rpims_install_dir }}/daemon/rpims.py
StandardInput=tty-force
WorkingDirectory=/opt/{{ rpims_install_dir }}/daemon

[Install]
WantedBy=multi-user.target
