/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 0vw;
  font-size: 1vw;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 1vw;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}


td {
  text-align: left;
}

.gauge {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
}

.gauge_bme280 {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  width: 33%;
  display: table-cell;
}

.gauge_dht {
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 4vw;
  width: 50%;
}

.gauge_ds18b20 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 12vw;
  display: table-cell;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #00283f;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

span.value {
  font-size: 100%;
  color: yellow;
}

span {
  text-align: left;
}

.rpims-background-color
{color:#fff;background-color:#00283f}

.rpims-navbar-color
{color:#fff;background-color:#00283f}

.rpimsbg
{
  /*background-color: steelblue;*/
  padding-bottom: 1px;
}

.header
{
  padding: 1px;
  margin: 0px;
}

.footer
{
  padding: 1px;
  margin: 0px;
}

.rpims {
  background-color: #00283f;
  color: white;
  padding: 8px;
  margin: 10px;
  font-size: 4vw;
}

.sensors {
  background-color: #00283f;
  color: white;
  padding: 8px;
  margin: 10px;
  font-size: 4vw;
  text-align: center;
}

.table {
  background-color: darkslategray;
  color: white;
  padding: 0px;
  margin: 0px;
  font-size: 4vw;
  text-align: left;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.alarm {
  color: red;
}

ul {
    list-style-type:none;
}

