
.rpims-navbar-color
{color:#fff;background-color:#00283f}


/* select on iPhone look better */
.w3-select {
    width: 100% !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
    box-sizing: border-box;
}

