[Unit]
Description=RPiMS Collector Service
Documentation=https://github.com/darton/RPiMS
After=network-online.target redis.service
Requires=redis.service
Wants=network-online.target


[Service]
User={{ rpims_user }}
Group={{ rpims_user }}

WorkingDirectory={{ rpims_install_dir }}/collector
ExecStart={{ rpims_user_homedir }}/.env/bin/python {{ rpims_install_dir }}/collector/rpims.py

RuntimeDirectory={{ rpims_user }}
RuntimeDirectoryMode=0755

StandardOutput=journal
StandardError=journal

Environment=PYTHONUNBUFFERED=1
Environment="RPIMS_DIR={{ rpims_install_dir }}"


[Install]
WantedBy=multi-user.target
