[Unit]
Description=gunicorn.service - RPiMS Flask application launched from Gunicorn.
After=network.target
Documentation=https://github.com/darton/rpims

[Service]
User=pi
Group=www-data
WorkingDirectory=/var/www/html/
ExecStart=/usr/bin/gunicorn --workers 1 --bind unix:/var/www/rpims.sock wsgi:app
 
[Install]
WantedBy=multi-user.target

