[Unit]
Description=RPiMS restarter
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl restart rpims.service
ExecStart=/usr/bin/systemctl restart zabbix-agent.service
ExecStart=/usr/bin/systemctl restart uv4l_raspicam

[Install]
WantedBy=multi-user.target

