#!/bin/bash

export TERM=xterm-256color

GREEN=$(tput setaf 2)
RED=$(tput setaf 1)
RESET=$(tput sgr0)

SENSOR=$(redis-cli --scan --pattern '*BME280' | head -n 1)
SENSOR_TEMP="$(redis-cli hget "$SENSOR" temperature)°C"
SENSOR_HUM="$(redis-cli hget "$SENSOR" humidity)%"
SENSOR_PRESSURE="$(redis-cli hget "$SENSOR" pressure)hPa"

CPU_TEMP=$(vcgencmd measure_temp|awk -F[=\'] '{print $2"°C"}')

# MOTD
echo "${GREEN}
   .~~.   .~~.
  '. \ ' ' / .'${RED}
   .~ .~~~..~.
  : .~.'~'.~. :${RESET}  R P i M S - https://github.com/darton/RPiMS${RED}
~ (   ) (   ) ~  ${RESET}Room Pressure.....: $SENSOR_PRESSURE${RED}
( : '~'.~.'~' : )${RESET}Room Humidity.....: $SENSOR_HUM${RED}
 ~ .~ (   ) ~. ~ ${RESET}Room Temperature..: $SENSOR_TEMP${RED}
  (  : '~' :  )  ${RESET}CPU Temperature...: $CPU_TEMP${RED}
   '~ .~~~. ~'
       '~'
${RESET}"

echo


if _IP=$(hostname -I 2>/dev/null); then
    printf "RPiMS address is %s\n" "$_IP"
fi
