[Unit]
Description=RPiMS Service
After=network.target
Conflicts=getty@tty1.service
Documentation=https://github.com/darton/rpims

[Service]
Type=simple
User=pi
Group=pi
ExecStart=/usr/bin/python3 /home/pi/scripts/RPiMS/rpims.py
StandardInput=tty-force

[Install]
WantedBy=multi-user.target
