---
- name: Enabling I2C
  command: raspi-config nonint do_i2c 0
  register: i2c

- name: Enabling SPI
  command: raspi-config nonint do_spi 0
  register: spi

- name: Enabling 1-Wire
  command: raspi-config nonint do_onewire 0
  register: w1

- name: Set fact reboot_required
  set_fact:
    need_reboot: true
  when: need_reboot is not defined
