logLevel: info
logDestinations: [stdout]
logStructured: no
logFile: mediamtx.log
sysLogPrefix: mediamtx

readTimeout: 10s
writeTimeout: 10s
writeQueueSize: 512
udpMaxPayloadSize: 1452
udpReadBufferSize: 0

runOnConnect:
runOnConnectRestart: no
runOnDisconnect:


authMethod: internal

authInternalUsers:
- user: any
  pass:
  ips: []
  permissions:
  - action: publish
    path:
  - action: read
    path:
  - action: playback
    path:

- user: any
  pass:
  ips: ['127.0.0.1', '::1']
  permissions:
  - action: api
  - action: metrics
  - action: pprof

authHTTPAddress:
authHTTPFingerprint:
authHTTPExclude:
- action: api
- action: metrics
- action: pprof

authJWTJWKS:
authJWTJWKSFingerprint:
authJWTClaimKey: mediamtx_permissions
authJWTExclude: []
authJWTInHTTPQuery: true


api: no
apiAddress: :9997
apiEncryption: no
apiServerKey: server.key
apiServerCert: server.crt
apiAllowOrigins: ['*']
apiTrustedProxies: []


metrics: no
metricsAddress: :9998
metricsEncryption: no
metricsServerKey: server.key
metricsServerCert: server.crt
metricsAllowOrigins: ['*']
metricsTrustedProxies: []


pprof: no
pprofAddress: :9999
pprofEncryption: no
pprofServerKey: server.key
pprofServerCert: server.crt
pprofAllowOrigins: ['*']
pprofTrustedProxies: []


playback: no
playbackAddress: :9996
playbackEncryption: no
playbackServerKey: server.key
playbackServerCert: server.crt
playbackAllowOrigins: ['*']
playbackTrustedProxies: []


rtsp: no
rtspTransports: [udp, multicast, tcp]
rtspEncryption: "no"
rtspAddress: :8554
rtspsAddress: :8322
rtpAddress: :8000
rtcpAddress: :8001
multicastIPRange: 224.1.0.0/16
multicastRTPPort: 8002
multicastRTCPPort: 8003
srtpAddress: :8004
srtcpAddress: :8005
multicastSRTPPort: 8006
multicastSRTCPPort: 8007
rtspServerKey: server.key
rtspServerCert: server.crt
rtspAuthMethods: [basic]


rtmp: yes
rtmpEncryption: "no"
rtmpAddress: :1935
rtmpsAddress: :1936
rtmpServerKey: server.key
rtmpServerCert: server.crt


hls: yes
hlsAddress: :8888
hlsEncryption: no
hlsServerKey: server.key
hlsServerCert: server.crt
hlsAllowOrigins: ['*']
hlsTrustedProxies: []
hlsAlwaysRemux: no
hlsVariant: lowLatency
hlsSegmentCount: 7
hlsSegmentDuration: 1s
hlsPartDuration: 200ms
hlsSegmentMaxSize: 50M
hlsDirectory: ''
hlsMuxerCloseAfter: 60s


webrtc: yes
webrtcAddress: :8889
webrtcEncryption: no
webrtcServerKey: server.key
webrtcServerCert: server.crt
webrtcAllowOrigins: ['*']
webrtcTrustedProxies: []
webrtcLocalUDPAddress: :8189
webrtcLocalTCPAddress: ''
webrtcIPsFromInterfaces: yes
webrtcIPsFromInterfacesList: []
webrtcAdditionalHosts: []
webrtcICEServers2: []
webrtcHandshakeTimeout: 10s
webrtcTrackGatherTimeout: 2s
webrtcSTUNGatherTimeout: 5s


srt: yes
srtAddress: :8890


pathDefaults:


  source: rpiCamera
  sourceFingerprint:
  sourceOnDemand: true
  sourceOnDemandStartTimeout: 10s
  sourceOnDemandCloseAfter: 10s
  maxReaders: 0
  srtReadPassphrase:
  useAbsoluteTimestamp: false


  alwaysAvailable: false
  alwaysAvailableFile: ''
  alwaysAvailableTracks:
    - codec: H264


  record: no
  recordPath: ./recordings/%path/%Y-%m-%d_%H-%M-%S-%f
  recordFormat: fmp4
  recordPartDuration: 1s
  recordMaxPartSize: 50M
  recordSegmentDuration: 1h
  recordDeleteAfter: 1d


  overridePublisher: yes
  srtPublishPassphrase:


  rtspTransport: automatic
  rtspAnyPort: no
  rtspRangeType:
  rtspRangeStart:
  rtspUDPSourcePortRange: [10000, 65535]


  rtpSDP:


  sourceRedirect:


  rpiCameraCamID: 0
  rpiCameraSecondary: false
  rpiCameraWidth: 1920
  rpiCameraHeight: 1080
  rpiCameraHFlip: false
  rpiCameraVFlip: false
  rpiCameraBrightness: 0
  rpiCameraContrast: 1
  rpiCameraSaturation: 1
  rpiCameraSharpness: 1
  rpiCameraExposure: normal
  rpiCameraAWB: auto
  rpiCameraAWBGains: [0, 0]
  rpiCameraDenoise: "off"
  rpiCameraShutter: 0
  rpiCameraMetering: centre
  rpiCameraGain: 0
  rpiCameraEV: 0
  rpiCameraROI:
  rpiCameraHDR: false
  rpiCameraTuningFile:
  rpiCameraMode:
  rpiCameraFPS: 30
  rpiCameraAfMode: continuous
  rpiCameraAfRange: normal
  rpiCameraAfSpeed: normal
  rpiCameraLensPosition: 0.0
  rpiCameraAfWindow:
  rpiCameraFlickerPeriod: 0
  rpiCameraTextOverlayEnable: false
  rpiCameraTextOverlay: '%Y-%m-%d %H:%M:%S - MediaMTX'
  rpiCameraCodec: auto
  rpiCameraIDRPeriod: 60
  rpiCameraBitrate: 5000000
  rpiCameraHardwareH264Profile: main
  rpiCameraHardwareH264Level: '4.1'
  rpiCameraSoftwareH264Profile: baseline
  rpiCameraSoftwareH264Level: '4.1'
  rpiCameraMJPEGQuality: 60


  runOnInit:
  runOnInitRestart: no

  runOnDemand:
  runOnDemandRestart: no
  runOnDemandStartTimeout: 10s
  runOnDemandCloseAfter: 10s
  runOnUnDemand:

  runOnReady:
  runOnReadyRestart: no
  runOnNotReady:

  runOnRead:
  runOnReadRestart: no
  runOnUnread:

  runOnRecordSegmentCreate:

  runOnRecordSegmentComplete:


paths:

  all_others:
