---
- name: pip packages installation
  pip:
    name: "{{ pip_packages }}"
    executable: pip3
    extra_args: "--break-system-packages"

- name: Clonning grove.py repository
  git:
    repo: "{{ grove_repo_url }}"
    dest: "{{ grove_repo_dest }}"
    version: master

- name: Installation grove.py by pip3
  pip:
    name: .
    chdir: "{{ grove_repo_dest }}"
    executable: pip3
    extra_args: "--break-system-packages"

- name: Remove grove.py repository
  file:
    path: "{{ grove_repo_dest }}"
    state: absent
