---
- name: Create service user
  user:
    name: "{{ rpims_user }}"
    system: yes

- name: Clone RPiMS repo
  git:
    repo: "{{ rpims_repo_url }}"
    dest: "{{ rpims_repo_tmp_dir }}"
    version: "{{ rpims_repo_version }}"
    force: yes
