---
- import_tasks: redis.yml
- import_tasks: users.yml
- import_tasks: files.yml
- import_tasks: zabbix.yml
- import_tasks: nginx.yml
- import_tasks: cron.yml
- import_tasks: motd.yml
- import_tasks: systemd.yml
