---
- name: Create service user
  user:
    name: "{{ rpims_user }}"
    system: yes

- name: Copy static web files to "{{ rpims_install_dir }}/static"
  copy: 
    src: "{{ rpims_repo_dir }}/static"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'

- name: Copy flask app files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/app"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'

- name: Copy config files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/config"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'

- name: Copy scripts files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/scripts"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'

- name: Copy RPiMS daemon files to "{{ rpims_install_dir }}"
  copy:
    src: "{{ rpims_repo_dir }}/daemon"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0755'

- name: Deploy nginx defaul config file
  template: 
    src: "nginx/default.j2"
    dest: "/etc/nginx/sites-available/default"
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx
  become: true

- name: Enable nginx site "default"
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link
  become: true
  tags:
    - nginx-default
    - nginx

- name: Deploy nginx.conf file
  template: 
    src: "nginx/nginx.conf.j2"
    dest: "/etc/nginx/nginx.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx
  become: true
  tags:
    - nginx-conf
    - nginx

- name: Render and deploy systemd files
  template:
    src: "systemd/{{ item | basename }}"
    dest: "/etc/systemd/system/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: root
    group: root
  notify: Reload systemd
  become: true
  with_fileglob:
    - "{{ role_path }}/templates/systemd/*.j2"
  tags:
    - systemd

#- name: Clean temperary directory
#  file:
#    path: "{{ rpims_repo_temp_dir }}"
#    state: absent

