---
- name: Create service user
  user:
    name: "{{ rpims_user }}"
    system: yes
  tags:
    - users

- name: Add existing "{{ rpims_user }}" user to groups
  user:
    name: "{{ rpims_user }}"
    groups: 
      - sudo
      - adm
      - video
      - plugdev
      - users
      - input
      - render
      - netdev
      - spi
      - i2c
      - gpio
      - audio
      - cdrom
      - dialout
    append: yes
  become: true
  tags:
    - users

- name: Add existing "{{ zabbix_user }}" user to rpims group 
  user:
    name: "{{ zabbix_user }}"
    groups: 
      - "{{ rpims_user }}"
    append: yes
  become: true
  tags:
    - users

- name: Allow rpims to use sudo without password
  copy:
    dest: /etc/sudoers.d/rpims
    content: "{{ rpims_user }} ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
  become: true
  tags:
    - users

- name: Allow zabbix to use sudo without password
  copy:
    dest: /etc/sudoers.d/zabbix
    content: "{{ zabbix_user }} ALL=(ALL) NOPASSWD: {{ rpims_install_dir }}/scripts/redis-get-data.py\n"
    owner: root
    group: root
    mode: '0440'
  become: true
  tags:
    - users

- name: Copy static web files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/static"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'
  tags:
    - static

- name: Copy flask app files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/app"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'
  tags:
    - app

- name: Copy config files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/config"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0644'
  tags:
    - config

- name: Copy scripts files to "{{ rpims_install_dir }}"
  copy: 
    src: "{{ rpims_repo_dir }}/scripts"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0755'
  tags:
    - scripts

- name: Copy RPiMS daemon files to "{{ rpims_install_dir }}"
  copy:
    src: "{{ rpims_repo_dir }}/daemon"
    dest: "{{ rpims_install_dir }}"
    owner: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    mode: '0755'
  tags:
    - daemon

- name: Generate TLSPSKIdentity
  set_fact:
    TLSPSKIdentity: "{{ lookup('password', '/dev/null', length=16, chars='abcdef0123456789') }}"
  tags:
    - tlspski
    - zabbix

- debug: 
    var: TLSPSKIdentity
  tags:
    - tlspski
    - zabbix

- name: Update TLSPSKIdentity in rpims.yaml
  lineinfile:
    path: "{{ rpims_install_dir }}/config/rpims.yaml"
    regexp: '^[ ]*TLSPSKIdentity:'
    line: "  TLSPSKIdentity: {{ TLSPSKIdentity }}"
  tags:
    - tlspski
    - zabbix

- name: Update TLSPSKIdentity in zabbix_agentd.conf
  lineinfile:
    path: "{{ rpims_install_dir }}/config/zabbix_rpims.conf"
    regexp: '^TLSPSKIdentity='
    line: "TLSPSKIdentity={{ TLSPSKIdentity }}"
  tags:
    - tlspski
    - zabbix

- name: Generate TLSPSK
  set_fact:
    TLSPSK: "{{ lookup('password', '/dev/null', length=64, chars='abcdef0123456789') }}"
  tags:
    - tlspsk
    - zabbix

- debug: 
    var: TLSPSK
  tags:
    - tlspsk
    - zabbix

- name: Update TLSPSK in rpims.yaml
  lineinfile:
    path: "{{ rpims_install_dir }}/config/rpims.yaml"
    regexp: '^[ ]*TLSPSK:'
    line: "  TLSPSK: {{ TLSPSK }}"
  tags:
    - tlspsk
    - zabbix

- name: Write TLSPSK to zabbix_rpims.psk
  copy:
    dest: "{{ rpims_install_dir }}/config/zabbix_rpims.psk"
    content: "{{ TLSPSK }}"
    mode: '0640'
  tags:
    - tlspsk
    - zabbix

- name: Write zabbix-agent config file
  template: 
    src: "zabbix/zabbix_agentd.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.conf.d/zabbix_agentd.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart zabbix
  become: true
  tags:
    - zabbix

- name: Write zabbix_rpims_userparameter.conf config file
  template: 
    src: "zabbix/zabbix_rpims_userparameter.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.conf.d/zabbix_rpims_userparameter.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart zabbix
  become: true
  tags:
    - zabbix

- name: Deploy nginx default config file
  template: 
    src: "nginx/default.j2"
    dest: "/etc/nginx/sites-available/default"
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx
  become: true
  tags:
    - nginx

- name: Enable nginx site default
  file:
    src: /etc/nginx/sites-available/default
    dest: /etc/nginx/sites-enabled/default
    state: link
  become: true
  tags:
    - nginx

- name: Deploy nginx.conf file
  template: 
    src: "nginx/nginx.conf.j2"
    dest: "/etc/nginx/nginx.conf"
    owner: root
    group: root
    mode: '0644'
  notify: Restart nginx
  become: true
  tags:
    - nginx

- name: Deploy crond file
  template: 
    src: "cron.j2"
    dest: "/etc/cron.d/rpims"
    owner: root
    group: root
    mode: '0644'
  become: true
  tags:
    - crond

- name: Deploy motd file
  template: 
    src: "motd.j2"
    dest: "/etc/update-motd.d/20-rpims"
    owner: root
    group: root
    mode: '0755'
  become: true
  tags:
    - motd

- name: Render and deploy systemd files
  template:
    src: "systemd/{{ item | basename }}"
    dest: "/etc/systemd/system/{{ item | basename | regex_replace('.j2$', '') }}"
    owner: root
    group: root
  notify: Reload systemd
  become: true
  with_fileglob:
    - "{{ role_path }}/templates/systemd/*.j2"
  tags:
    - systemd

- name: Enable all RPiMS systemd services
  systemd:
    name: "{{ item | basename | regex_replace('.j2$', '') }}"
    enabled: true
    state: started
  become: true
  with_fileglob:
    - "{{ role_path }}/templates/systemd/*.j2"
  tags:
    - systemd

#- name: Clean temperary directory
#  file:
#    path: "{{ rpims_repo_temp_dir }}"
#    state: absent

