---
- name: Add existing "{{ zabbix_user }}" user to rpims group 
  user:
    name: "{{ zabbix_user }}"
    groups: 
      - "{{ rpims_user }}"
    append: yes
  become: true
  tags:
    - zabbix

- name: Allow zabbix to use sudo without password
  copy:
    dest: /etc/sudoers.d/zabbix
    content: "{{ zabbix_user }} ALL=(ALL) NOPASSWD: {{ rpims_install_dir }}/scripts/redis-get-data.py\n"
    owner: root
    group: root
    mode: '0440'
  become: true
  tags:
    - zabbix
