---
- name: Create rpims user
  user:
    name: "{{ rpims_user }}"
    group: "{{ rpims_user }}"
    shell: /bin/bash
    create_home: yes
    system: no
  tags:
    - users

- name: Add existing "{{ rpims_user }}" user to groups
  user:
    name: "{{ rpims_user }}"
    groups: 
      - sudo
      - adm
      - video
      - plugdev
      - users
      - input
      - render
      - netdev
      - spi
      - i2c
      - gpio
      - audio
      - cdrom
      - dialout
    append: yes
  become: true
  tags:
    - users

- name: Allow rpims to use sudo without password
  copy:
    dest: /etc/sudoers.d/rpims
    content: "{{ rpims_user }} ALL=(ALL) NOPASSWD:ALL\n"
    owner: root
    group: root
    mode: '0440'
  become: true
  tags:
    - users

- name: Add existing "{{ zabbix_user }}" user to rpims group 
  user:
    name: "{{ zabbix_user }}"
    groups: 
      - "{{ rpims_user }}"
    append: yes
  become: true
  tags:
    - users

- name: Allow zabbix to use sudo without password
  copy:
    dest: /etc/sudoers.d/zabbix
    content: "{{ zabbix_user }} ALL=(ALL) NOPASSWD: {{ rpims_install_dir }}/scripts/redis-get-data.py\n"
    owner: root
    group: root
    mode: '0440'
  become: true
  tags:
    - users
