---
- name: Write zabbix-rpims.conf file
  template:
    src: "zabbix/zabbix_rpims.conf.j2"
    dest: "{{ rpims_install_dir }}/config/zabbix_rpims.conf"
    owner: "{{ rpims_user }}"
    group: zabbix
    mode: '0640'
  notify: Restart zabbix-agent
  become: true
  tags:
    - zabbix

- name: Generate TLSPSKIdentity
  set_fact:
    TLSPSKIdentity: "{{ lookup('password', '/dev/null', length=16, chars='abcdef0123456789') }}"
  tags:
    - tlspski
    - zabbix

- debug:
    var: TLSPSKIdentity
  tags:
    - tlspski
    - zabbix

- name: Update TLSPSKIdentity in rpims.yaml
  lineinfile:
    path: "{{ rpims_install_dir }}/config/rpims.yaml"
    regexp: '^[ ]*TLSPSKIdentity:'
    line: "  TLSPSKIdentity: {{ TLSPSKIdentity }}"
  tags:
    - tlspski
    - zabbix

- name: Update TLSPSKIdentity in zabbix_rpims.conf
  lineinfile:
    path: "{{ rpims_install_dir }}/config/zabbix_rpims.conf"
    regexp: '^TLSPSKIdentity='
    line: "TLSPSKIdentity={{ TLSPSKIdentity }}"
  tags:
    - tlspski
    - zabbix

- name: Generate TLSPSK
  set_fact:
    TLSPSK: "{{ lookup('password', '/dev/null', length=64, chars='abcdef0123456789') }}"
  tags:
    - tlspsk
    - zabbix

- debug:
    var: TLSPSK
  tags:
    - tlspsk
    - zabbix

- name: Update TLSPSK in rpims.yaml
  lineinfile:
    path: "{{ rpims_install_dir }}/config/rpims.yaml"
    regexp: '^[ ]*TLSPSK:'
    line: "  TLSPSK: {{ TLSPSK }}"
  tags:
    - tlspsk
    - zabbix

- name: Write TLSPSK to zabbix_rpims.psk
  copy:
    dest: "{{ rpims_install_dir }}/config/zabbix_rpims.psk"
    content: "{{ TLSPSK }}"
    mode: '0640'
    owner: "{{ rpims_user }}"
    group: zabbix
  tags:
    - tlspsk
    - zabbix

- name: Write zabbix-agent config file
  template:
    src: "zabbix/zabbix_agentd.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.conf.d/zabbix_agentd.conf"
    owner: root
    group: zabbix
    mode: '0640'
  notify: Restart zabbix-agent
  become: true
  tags:
    - zabbix

- name: Write zabbix_rpims_userparameter.conf config file
  template:
    src: "zabbix/zabbix_rpims_userparameter.conf.j2"
    dest: "/etc/zabbix/zabbix_agentd.conf.d/zabbix_rpims_userparameter.conf"
    owner: root
    group: zabbix
    mode: '0640'
  notify: Restart zabbix-agent
  become: true
  tags:
    - zabbix
