[Unit]
Description=gunicorn.service - RPiMS Flask application launched from Gunicorn.
Documentation=https://github.com/darton/RPiMS
After=network.target redis.service
Requires=redis.service
Wants=network-online.target


[Service]
Type=notify
User={{ rpims_user }}
Group={{ rpims_user }}
Environment="RPIMS_DIR={{ rpims_install_dir }}"
Environment="SECRET_KEY={{ rpims_app_secret_key }}"
WorkingDirectory={{ rpims_install_dir }}/app/
ExecStart={{ rpims_user_homedir }}/.env/bin/gunicorn --workers 4 wsgi:app --bind 127.0.0.1:8000
KillSignal=SIGTERM
TimeoutStopSec=5
SendSIGKILL=yes

[Install]
WantedBy=multi-user.target
