<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="RPiMS - Raspberry Pi Monitoring System">
    <meta name="keywords" content="Raspberry Pi, Monitoring System, Sensors">
    <meta name="author" content="Dariusz Kowalczyk">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/index.css?v=0019">
    <link rel="stylesheet" href="/static/css/w3.css?v=1">
    <link rel="stylesheet" href="/static/css/w3-colors-2020.css?v=1">
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <script defer src="/static/js/navbar.js?v=002"></script>
    <script defer src="/static/js/index.js?v=101"></script>
    <title>RPiMS</title>
  </head>
  <body>

    <div class="w3-row rpims-navbar-color">
      <div class="w3-dropdown-click">
        <button onclick="toggleShowHide('NavBar')" class="w3-button rpims-navbar-color w3-xlarge">☰</button>
        <div id="NavBar" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
          <a href="/setup/" class="w3-bar-item w3-button w3-large">Setup</a>
          <a href="/api/" class="w3-bar-item w3-button w3-large">API</a>
        </div>
      </div>
    </div>

{% block page_content %}
   <div class="rpimsbg">

     <!-- <div class="header"></div>-->
        <div class="sensors" style="text-align: left;" id="sys_info">
              <ul>
                <li>Hostname: <span class="value" id="hostname"></span></li>
                <li>Location: <span class="value" id="location"></span></li>
                <li style="display:none;" id="CPU_Temperature">CPU Temperature: <span class="value" id="CPU_Temperature_value"> </span><span class="value" id="CPU_Temperature_unit"></span></li>
              </ul>
        </div>


    <div class="sensors" id="rpicamera">
	<div>
    	    <a class="sensors" href="http://{{request.host.split(':')[0]}}:8889/cam">Camera Stream</a>
	</div>
	<div>
    	    <iframe src="http://{{request.host.split(':')[0]}}:8889/cam" style="width: 100%; aspect-ratio: 16 / 9; border: none;" allow="autoplay">
    	    </iframe>
	</div>
    </div>


     <div class="sensors" id="contact_sensors">
        <div class="w3-container w3-margin">Contact Sensors</div>
          {% for item in data.sensors.contact_sensors: %}
            <p>
              <span class="sensor-name">
                {{ data.config.gpio[item].name }}
              </span>
              <span class="sensor-state" id="{{ item }}">
              </span>
            </p>
          {% endfor %}
        </p>
     </div>


      <div class="sensors" id="digital_sensors">
        <div class="w3-container w3-margin">Digital Sensors</div>
          {% for item in data.sensors.digital_sensors: %}
            <p>
              <span class="sensor-name">
                {{ data.config.gpio[item].name }}
              </span>
              <span class="sensor-state" id = {{ item }} >
              </span>
            </p>
          {% endfor %}
        </p>
      </div>


      <div class="sensors" id="dht_sensor">
        <div class="w3-container w3-margin">{{ data.config.sensors.DHT.name }}</div>
        <div style="width: 100%; display: table;">
          <div style="display: table-row">
            <div class="gauge_dht" id="gdhttemp" style="width: 50%; display: table-cell";>
              <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
              </div>
              <div class="sensors">Temp</div>
            </div>
            <div class="gauge" id="gdhthum" style="width: 50%; display: table-cell";>
              <div class="gauge__body">
                <div class="gauge__fill"></div>
                <div class="gauge__cover"></div>
              </div>
              <div class="sensors">Hum</div>
            </div>
          </div>
        </div>
      </div>


    <div id="bme280_sensors">
	{% for item in data.config.sensors.BME280: %}
        <div class='sensors' id='{{item}}_BME280'>
          <div id='{{item}}' class='w3-container w3-margin'>{{ data.config.sensors.BME280[item].name }}</div>
          <div style='width: 100%; display: table;'>
            <div style='display: table-row';>

              <div class='gauge_bme280' id='{{item}}_BME280_Temperature'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Temp</div>
              </div>

              <div class='gauge_bme280' id='{{item}}_BME280_Humidity'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Hum</div>
              </div>

              <div class='gauge_bme280' id='{{item}}_BME280_Pressure'>
                <div class='gauge__body'>
                    <div class='gauge__fill'></div>
                    <div class='gauge__cover'></div>
                </div>
                <div class='sensors'>Pres</div>
              </div>

            </div>
          </div>
        </div>
	{% endfor %}
    </div>


    <div id="ds18b20_container"></div>


  <div id="weather_station">
   <div class="sensors" id="div_wind_speed">
    <div class="w3-container w3-margin">Wind</div>
    <div style="width: 100%; display: table;">
      <div style="display: table-row">
        <div class="gauge" id="gws" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Speed</div>
        </div>
        <div class="gauge" id="gwg" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Gust</div>
        </div>
        <div class="gauge" id="gwg24h" style="width: 33%; display: table-cell">
          <div class="gauge__body">
            <div class="gauge__fill"></div>
            <div class="gauge__cover"></div>
          </div>
          <div class="sensors">Gust 24h</div>
        </div>
      </div>
    </div>
  <div class="sensors" >
    <div class="w3-container">
      <table class="w3-table">
        <tr><td>Wind speed: </td><td><span class="value" id="wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Average Wind speed: </td><td><span class="value" id="average_wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Average Wind speed (Past 24h): </td><td><span class="value" id="daily_average_wind_speed"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Wind gust: </td><td><span class="value" id="wind_gust"></span><span class="value"> km/h</span></td></tr>
        <tr><td>Peak Wind Gust (Past 24h): </td><td><span class="value" id="daily_wind_gust"></span><span class="value"> km/h</span></td></tr>
      </table>
    </div>
  </div>
  </div>


   <div class="sensors" id="wind_direction">
    <div class="w3-container">
      <table class="w3-table">
        <tr><td>Wind direction: </td><td><span class="value" id="average_wind_direction"></span><span class="value"> &#176 </span></td></tr>
      </table>
    </div>
  </div>


  <div class="sensors" id="rainfall">
    <div class="w3-container">
      <table class="w3-table">
        <tr><td>Rainfall (Past 24h): </td><td><span class="value" id="daily_rainfall"></span><span class="value"> mm</span></td></tr>
      </table>
    </div>
  </div>

  </div>

{% endblock %}
   </div>
  </body>
</html>
