[Unit]
Description=MediaMTX Streaming Server
After=network.target

[Service]
Type=simple
ExecStart={{ mediamtx_install_dir }}/mediamtx {{ mediamtx_config_dir }}/mediamtx.yml
Restart=on-failure
User=rpims
Group=rpims
WorkingDirectory={{ mediamtx_install_dir }}


[Install]
WantedBy=multi-user.target
