[Unit]
Description=MediaMTX RTSP keepalive client
After=mediamtx.service
Requires=mediamtx.service
PartOf=mediamtx.service
#BindsTo=mediamtx.service

[Service]
Type=simple
ExecStart=/usr/bin/ffmpeg -nostats -loglevel quiet -rtsp_transport tcp -i rtsp://localhost:8554/cam -f null -
Restart=always
RestartSec=2

[Install]
Requires=mediamtx.service
