name: Pylint

on: [push]

jobs:
  build:
    runs-on: [self-hosted, rpi, arm64]
    if: github.actor == 'darton'

    steps:
    - uses: actions/checkout@v4

    - name: Create virtual environment
      working-directory: ${{ github.workspace }}
      run: |
        python3 -m venv .venv --system-site-packages
        .venv/bin/pip install --upgrade pip
        .venv/bin/pip install -r .github/workflows/requirements.txt
        .venv/bin/pip install pylint

    - name: Run pylint
      working-directory: ${{ github.workspace }}
      run: |
        .venv/bin/pylint $(git ls-files '*.py')

