name: Pylint

on: [push]

jobs:
  build:
    runs-on: [self-hosted, rpi, arm64]
    if: github.actor == 'darton'

    steps:
    - uses: actions/checkout@v4

    - name: Check Python version
      run: python3 --version

    - name: Install dependencies
      run: |
        #sudo apt update
        #xargs -a .github/apt-packages.txt sudo apt install -y
        pip install -r requirements.txt
        pip install pylint

    - name: Run pylint
      run: pylint $(git ls-files '*.py')
